/* GENERAL */
.chart {
    position: relative;
    width: 100%;
    height: 100%;
}

.highcharts-draw-mode {
    cursor: crosshair;
}

.left {
    float: left;
}

.right,
.highcharts-stocktools-toolbar li.right {
    float: right;
}

/* FULL SCREEN */
.chart:-webkit-full-screen {
    width: 100%;
    height: 100%;
}

.chart:-moz-full-screen {
    width: 100%;
    height: 100%;
}

.chart:-ms-fullscreen {
    width: 100%;
    height: 100%;
}

.chart:fullscreen {
    width: 100%;
    height: 100%;
}

/* GUI */
.highcharts-stocktools-wrapper {
    display: block;
}

.highcharts-stocktools-toolbar {
    margin: 0 0 0 10px;
    padding: 0;
    width: calc(100% - 63px);
}

.highcharts-stocktools-toolbar li {
    background-color: var(--highcharts-neutral-color-3, #f7f7f7);
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    height: 30px;
    list-style: none;
    margin-right: 2px;
    margin-bottom: 3px;
    padding: 0;
    position: relative;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.highcharts-stocktools-toolbar li ul {
    display: none;
    left: 0;
    padding-left: 0;
    position: absolute;
    z-index: 125;
    background-color: var(--highcharts-neutral-color-3, #f7f7f7);
    padding: 4px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    min-width: 120px;
}

.highcharts-stocktools-toolbar li {
    position: relative;
}

.highcharts-stocktools-toolbar li:hover {
    background-color: var(--highcharts-highlight-color-10, #e6ebf5);
}

.highcharts-stocktools-toolbar li:hover > ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.highcharts-stocktools-toolbar li > span.highcharts-menu-item-btn {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: block;
    float: left;
    height: 30px;
    width: 30px;
    background-size: 22px 22px;
}

.highcharts-stocktools-toolbar li ul li {
    margin-bottom: 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 8px;
    border-radius: 4px;
}

.highcharts-stocktools-toolbar li ul li:hover {
    background-color: var(--highcharts-highlight-color-10, #e6ebf5);
}

.highcharts-stocktools-toolbar li ul li > span.highcharts-menu-item-btn {
    height: 24px;
    width: 24px;
    background-size: 20px 20px;
}

.highcharts-stocktools-toolbar li > .highcharts-menu-item-title {
    display: none;
}

.highcharts-stocktools-toolbar li ul li > .highcharts-menu-item-title {
    display: none;
}

.custom-interval-selector {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    justify-content: flex-end;
}

.custom-interval-selector label {
    font-size: 12px;
    color: #374151;
    font-weight: 600;
    text-transform: uppercase;
}

.custom-interval-selector select {
    border: 1px solid #d1d5db;
    border-radius: 6px;
    padding: 4px 8px;
    font-size: 13px;
    color: #111827;
    background-color: #ffffff;
    min-width: 110px;
}

.custom-interval-selector select:focus {
    outline: none;
    border-color: #3b82f6;
    box-shadow: 0 0 0 1px rgba(59, 130, 246, 0.3);
}

@media (max-width: 768px) {
    .custom-interval-selector {
        justify-content: center;
    }
}

.highcharts-indicators > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/indicators.svg");
}

.highcharts-label-annotation > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/label.svg");
}

.highcharts-circle-annotation > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/circle.svg");
}

.highcharts-rectangle-annotation > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/rectangle.svg");
}

.highcharts-ellipse-annotation > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/ellipse.svg");
}

.highcharts-segment > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/segment.svg");
}

.highcharts-arrow-segment > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/arrow-segment.svg");
}

.highcharts-ray > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/ray.svg");
}

.highcharts-arrow-ray > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/arrow-ray.svg");
}

.highcharts-infinity-line > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/line.svg");
}

.highcharts-arrow-infinity-line > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/arrow-line.svg");
}

.highcharts-horizontal-line > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/horizontal-line.svg");
}

.highcharts-vertical-line > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/vertical-line.svg");
}

.highcharts-elliott3 > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/elliott-3.svg");
}

.highcharts-elliott5 > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/elliott-5.svg");
}

.highcharts-crooked3 > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/crooked-3.svg");
}

.highcharts-crooked5 > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/crooked-5.svg");
}

.highcharts-measure-xy > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/measure-xy.svg");
}

.highcharts-measure-x > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/measure-x.svg");
}

.highcharts-measure-y > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/measure-y.svg");
}

.highcharts-fibonacci > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/fibonacci.svg");
}

.highcharts-pitchfork > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/pitchfork.svg");
}

.highcharts-parallel-channel > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/parallel-channel.svg");
}

.highcharts-toggle-annotations > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/annotations-visible.svg");
}

.highcharts-vertical-counter > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/vertical-counter.svg");
}

.highcharts-vertical-label > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/vertical-label.svg");
}

.highcharts-vertical-arrow > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/vertical-arrow.svg");
}

.highcharts-vertical-double-arrow > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/vertical-double-arrow.svg");
}

.highcharts-flag-circlepin > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/flag-elipse.svg");
}

.highcharts-flag-diamondpin > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/flag-diamond.svg");
}

.highcharts-flag-squarepin > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/flag-trapeze.svg");
}

.highcharts-flag-simplepin > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/flag-basic.svg");
}

.highcharts-zoom-xy > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/zoom-xy.svg");
}

.highcharts-zoom-x > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/zoom-x.svg");
}

.highcharts-zoom-y > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/zoom-y.svg");
}

.highcharts-full-screen > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/fullscreen.svg");
}

.highcharts-series-type-ohlc > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/series-ohlc.svg");
}

.highcharts-series-type-line > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/series-line.svg");
}

.highcharts-series-type-candlestick > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/series-candlestick.svg");
}

.highcharts-current-price-indicator > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/current-price-show.svg");
}

.highcharts-save-chart > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/save-chart.svg");
}

.highcharts-interval-selector > .highcharts-menu-item-btn {
    background-image: url("/images/icons/stock-icons/Interval_view.svg");
    background-size: 20px 20px;
}

.highcharts-log-toggle > .highcharts-menu-item-btn {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
}

.highcharts-log-toggle > .highcharts-menu-item-btn.log-icon {
    background-image: url("/images/icons/chart-icons/Log.svg");
}

.highcharts-log-toggle > .highcharts-menu-item-btn.linear-icon {
    background-image: url("/images/icons/chart-icons/Linear.svg");
}

li.highcharts-active {
    background-color: var(--highcharts-highlight-color-10, #e6ebf5);
}

/* Interval Selector 스타일 */
.highcharts-interval-selector li.highcharts-active {
    background-color: var(--highcharts-highlight-color-10, #e6ebf5);
    font-weight: 600;
}

.highcharts-interval-selector li {
    cursor: pointer;
}

.highcharts-interval-selector li:hover {
    background-color: var(--highcharts-highlight-color-10, #e6ebf5);
}

.highcharts-log-toggle {
    cursor: pointer;
}

.highcharts-log-toggle.active {
    background-color: var(--highcharts-highlight-color-10, #e6ebf5);
}

.highcharts-log-toggle:hover {
    background-color: var(--highcharts-highlight-color-10, #e6ebf5);
}

/* Light mode - no filter needed */
.highcharts-menu-item-btn {
    filter: none;
}

/* Popup */
.chart-wrapper {
    position: relative;
    width: 100%;
    background: var(--highcharts-background-color, #fff);
    padding-top: 10px;
    overflow: visible;
    box-sizing: border-box;
}

/* Responsive design */
@media screen and (max-width: 1330px) {
    .highcharts-stocktools-toolbar li > .highcharts-menu-item-title {
        display: none;
    }

    .highcharts-stocktools-toolbar li ul li {
        width: auto;
    }
}

